# variable

In [4]:
name= "aisha kanwal"

In [5]:
number= 123
decimal=12.3
number

123

In [6]:
type(number)

int

In [7]:
type(decimal)

float

In [10]:
type(name)

str

In [11]:
x=5
y=7
x+y

12

In [17]:
x+=2
x

16

In [18]:
x=4
y=7
x+y

11

In [19]:
y+=3
x+=2
x+y

16

In [20]:
y-=2
x-=1
x
y

8

In [21]:
y

8

In [22]:
x

5

In [23]:
print(x, y)

5 8

In [26]:
sister="atifa kanwal"
brother="muhammad waqas"
nephew="muhammad saad"
print("my name is " + name + " and my sister name is " + sister + "." )

my name is aisha kanwal and my sister name is atifa kanwal.

In [27]:
x*=2
x

10

In [31]:
y=8
y/=3
y

2.6666666666666665

In [32]:
y=8
y//=3

In [33]:
y

2

In [34]:
x//=3
x

3

In [35]:
a=9
b=2
a%b

1

In [36]:
print("my name is " +name+ " and my sister name is " +sister+ "." )

my name is aisha kanwal and my sister name is atifa kanwal.

In [37]:
print("my name is " + name + " and my sister name is " + sister + " and i am " +str(a)+ " years old." )

my name is aisha kanwal and my sister name is atifa kanwal and i am 9 years old.

In [38]:
message="my name is " + name + " and my sister name is " + sister + " and i am " +str(a)+ " years old."
message

'my name is aisha kanwal and my sister name is atifa kanwal and i am 9 years old.'

In [42]:
message.upper()

'MY NAME IS AISHA KANWAL AND MY SISTER NAME IS ATIFA KANWAL AND I AM 9 YEARS OLD.'

In [41]:
name.upper()

'AISHA KANWAL'

In [43]:
name.title()

'Aisha Kanwal'

In [44]:
message.title()

'My Name Is Aisha Kanwal And My Sister Name Is Atifa Kanwal And I Am 9 Years Old.'

In [8]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [14]:
name__class__

NameError: name 'name__class__' is not defined